<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <head>
            <style th:fragment="style">
                .content {
                    container-type: inline-size;
                }
                .history {
                    --timeline-width: 2rem;
                    --bullet-size: 0.5625rem;
                    --bullet-height: 1.0625rem;
                    --gap: 1rem;

                    display: grid;
                    gap: var(--gap);
                    margin-left: var(--timeline-width);
                }
                @media (width > 48em) {
                    .history {
                        max-width: 30cqw;
                    }
                }
                .history li {
                    position: relative;
                }
                .history li::before {
                    aspect-ratio: 1 / 1;
                    background-color: var(--colour, var(--primary-colour));
                    border-radius: 100%;
                    content: "";
                    left: calc(-1 * var(--timeline-width));
                    position: absolute;
                    top: calc(var(--bullet-height) - var(--bullet-size));
                    width: var(--bullet-size);
                }
                .history li:not(:last-child)::after {
                    background-color: var(--divider-colour);
                    content: "";
                    left: calc(-1 * var(--timeline-width) + var(--bullet-size) / 2 - 0.0625rem / 2);
                    position: absolute;
                    inset-block-start: 1.25rem;
                    inset-block-end: calc(-1 * var(--gap) - var(--bullet-height) + var(--bullet-size) + 0.25rem);
                    width: 0.0625rem;
                }
            </style>
            <link rel="stylesheet" href="/css/history_colours.css" />
        </head>

        <div th:fragment="history">
            <h3 class="font-500 mb-3">History</h3>

            <ul class="history list" role="list">
                <li
                    th:each="event : ${request.events}"
                    th:unless="${event instanceof T(nl.tudelft.queue.dto.view.events.RequestPickedEventViewDTO)}"
                    th:data-event="${event.iconClass}">
                    <div>
                        <div th:if="${@permissionService.canViewRequestAssistantReason(request.id)}" th:text="${event.descriptionForAssistant}"></div>
                        <div th:unless="${@permissionService.canViewRequestAssistantReason(request.id)}" th:text="${event.description}"></div>

                        <div class="font-200">
                            <span th:text="${#temporals.format(event.timestamp, 'MMM dd, yyyy ''at'' HH:mm')}"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
