<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--@thymesVar id="qSession" type="nl.tudelft.queue.dto.patch.QueueSessionPatchDTO"-->

    <body>
        <th:block th:object="${qSession}">
            <section th:fragment="extra-info">
                <h3 class="font-500 mb-3"><label for="extra-info">Extra info</label></h3>
                <div class="article">
                    <textarea
                        id="extra-info"
                        name="extraInfo"
                        th:text="${qSession.extraInfo}"
                        style="display: none"
                        data-editor="markdown"></textarea>
                </div>

                <div class="mt-500 underlined"></div>
            </section>
        </th:block>
    </body>
</html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body></body>
</html>
