<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{container}">
    <head>
        <script src="/webjars/fullcalendar/index.global.js"></script>
    </head>

    <body>
        <main layout:fragment="content">
            <h1 class="font-800 mb-5">Admin</h1>

            <div class="tabs mb-5" role="tablist">
                <a role="tab" th:href="@{/admin/running}" th:aria-selected="${#uri.matches('.*/running.*')}">
                    <i class="fa-solid fa-th-large"></i>
                    Running sessions
                </a>
                <a role="tab" th:href="@{/admin/courses}" th:aria-selected="${#uri.matches('.*/course.*')}">
                    <i class="fa-solid fa-th-large"></i>
                    All courses
                </a>
                <a role="tab" th:href="@{/admin/calendar}" th:aria-selected="${#uri.matches('.*/calendar.*')}">
                    <i class="fa-solid fa-calendar"></i>
                    Calendar
                </a>
                <a role="tab" th:href="@{/admin/rooms}" th:aria-selected="${#uri.matches('.*/room.*')}">
                    <i class="fa-solid fa-flask"></i>
                    Rooms
                </a>
                <a role="tab" th:href="@{/admin/announcements}" th:aria-selected="${#uri.matches('.*/announcement.*')}">
                    <i class="fa-solid fa-bullhorn"></i>
                    Announcements
                </a>
            </div>

            <th:block layout:fragment="subcontent"></th:block>
        </main>
    </body>
</html>
