<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{edition/view}">
    <head>
        <meta charset="UTF-8" />
        <head>
            <title th:text="|Archive - ${edition.course.name} (${edition.name})|"></title>
        </head>
    </head>

    <body>
        <section layout:fragment="subcontent" th:with="currentDateTime=${T(java.time.LocalDateTime).now()}">
            <div class="page-sub-header">
                <h3 class="font-500 mb-5">Archive edition</h3>
            </div>
            <p th:if="${currentDateTime < edition.endDate}" class="mb-5">
                The edition has
                <strong>not yet finished</strong>
                . It will finish on
                <span th:text="|${#temporals.format(edition.endDate, 'dd/MM/yyyy HH:mm')}|"></span>
                .
                <br />
                Are you sure you want to archive
                <strong th:text="|${edition.course.name} (${edition.name})|"></strong>
                ?
            </p>
            <p th:if="${currentDateTime >= edition.endDate}" class="mb-5">
                The edition has finished. Are you sure you want to archive
                <strong th:text="|${edition.course.name} (${edition.name})|"></strong>
                ?
            </p>

            <form th:action="@{/edition/{id}/archive(id=${edition.id})}" method="post">
                <button type="submit" class="button" data-type="error">Archive</button>
                <small>
                    or
                    <a class="link" th:href="@{/edition/{id}(id=${edition.id})}">go back</a>
                </small>
            </form>
        </section>
    </body>
</html>
