<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{edition/view}">
    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->

    <head>
        <title th:text="|Demote - ${edition.course.name} (${edition.name})|"></title>
    </head>

    <body>
        <section layout:fragment="subcontent">
            <div class="font-500 mb-3">
                <h3>Demote this participant</h3>
            </div>
            <p class="mb-5">
                Are you sure you want to demote
                <th:block>
                    <strong th:text="|${person.displayName}|"></strong>
                    ?
                </th:block>
                <th:block>
                    They will lose their teacher access to
                    <strong th:text="|${edition.course.name} (${edition.name})|"></strong>
                </th:block>
                .
            </p>

            <form
                action="#"
                th:object="${role}"
                th:action="@{/edition/{editionId}/participants/{personId}/demote/{type}(editionId=${edition.id},personId=${person.id},type=${role.type})}"
                method="post">
                <input type="hidden" th:field="*{type}" />
                <input type="submit" class="button" value="Demote" />
                <small>
                    or
                    <a class="link" th:href="@{/edition/{id}/participants(id=${edition.id})}">go back</a>
                </small>
            </form>
        </section>
    </body>
</html>
