<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{container}">
    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->
    <!--@thymesVar id="request" type="nl.tudelft.queue.model.LabRequest"-->

    <!--@thymesVar id="message" type="java.lang.String"-->

    <body>
        <section layout:fragment="content">
            <div class="breadcrumbs mb-5">
                <a th:href="@{/}">Home</a>
                <span>&gt;</span>
                <a th:href="@{/editions}">Courses</a>
                <span>&gt;</span>
                <a th:href="@{/request/{id}(id=${request.id})}" th:text="${'Request #' + request.id}"></a>
                <span>&gt;</span>
                <a th:href="@{/request/{id}/reject(id=${request.id})}">Reject</a>
            </div>

            <h1 class="font-800 mb-5" th:text="${'Request #' + request.id}"></h1>

            <form action="#" th:action="@{/request/{id}/reject(id=${request.id})}" method="post">
                <div class="flex vertical gap-3 mb-5">
                    <div class="flex vertical gap-1">
                        <label for="inputComment" class="col-sm-4 control-label">Comment for other TAs</label>
                        <textarea
                            maxlength="250"
                            class="textfield"
                            id="inputComment"
                            name="reasonForAssistant"
                            placeholder="Comment to explain your rejection to other TAs..."
                            required="required"></textarea>
                    </div>

                    <div class="flex vertical gap-1">
                        <label for="inputCommentForStudent" class="col-sm-4 control-label">Comment for student</label>
                        <textarea
                            maxlength="250"
                            class="textfield"
                            id="inputCommentForStudent"
                            name="reasonForStudent"
                            placeholder="Comment to explain your rejection to the student..."
                            required></textarea>
                    </div>
                </div>

                <div>
                    <button type="submit" name="reject" class="button" data-type="error">Reject</button>
                </div>
            </form>
        </section>
    </body>
</html>
