<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{lab/view/lab}">
    <!--@thymesVar id="#authenticatedP" type="nl.tudelft.labracore.api.dto.Person"-->

    <!--@thymesVar id="qSession" type="nl.tudelft.queue.dto.view.labs.ExamLabViewDTO"-->
    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->

    <!--@thymesVar id="requests" type="java.util.List<nl.tudelft.queue.model.TimeSlot>"-->

    <!--@thymesVar id="current" type="nl.tudelft.queue.dto.view.RequestViewDTO"-->

    <head>
        <link rel="stylesheet" href="/css/request_colours.css" />
        <title th:text="'Exam Lab #' + ${qSession.id}"></title>

        <style th:replace="~{lab/view/components/exam-lab-slots :: style}"></style>
    </head>

    <body>
        <th:block layout:fragment="additional-lab-info">
            <th:block th:replace="~{lab/view/components/exam-lab-info :: exam-lab-info}"></th:block>
        </th:block>
        <th:block layout:fragment="request-table">
            <th:block th:if="${@permissionService.canManageSession(qSession.data)}">
                <th:block th:replace="~{lab/view/components/exam-upload-students :: exam-upload-students}"></th:block>
            </th:block>
            <th:block th:if="${@permissionService.canTakeRequest(qSession.id)}">
                <th:block th:replace="~{lab/view/components/exam-lab-slots :: exam-lab-slots}"></th:block>
            </th:block>
        </th:block>
    </body>
</html>
