<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{lab/view/lab}">
    <!--@thymesVar id="qSession" type="nl.tudelft.queue.dto.view.labs.SlottedLabViewDTO"-->

    <head>
        <title th:text="'Session #' + ${qSession.id}"></title>

        <script src="/webjars/fullcalendar/index.global.js"></script>
        <script src="/webjars/momentjs/min/moment.min.js"></script>
        <script src="/js/time_slots.js"></script>

        <style>
            progress {
                --bar-colour: var(--primary-colour);
                --bg-colour: var(--disabled-colour);

                -webkit-appearance: none;
                appearance: none;
                background-color: var(--bg-colour);
                border: none;
                height: 0.25rem;
                width: 100%;
            }
            progress::-webkit-progress-bar {
                background-color: var(--bg-colour);
            }
            progress::-webkit-progress-value {
                background-color: var(--bar-colour);
            }
            progress::-moz-progress-bar {
                background-color: var(--bar-colour);
            }
        </style>
    </head>

    <body>
        <th:block layout:fragment="additional-lab-info">
            <th:block th:replace="~{lab/view/components/slotted-lab-info :: slotted-lab-info}"></th:block>
        </th:block>

        <th:block layout:fragment="request-table">
            <th:block th:replace="~{lab/view/components/slots-info :: slots-info}"></th:block>
            <th:block th:replace="~{lab/view/components/full-request-table :: full-request-table}"></th:block>
        </th:block>
    </body>
</html>
