<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body>
        <dialog th:fragment="overlay" id="create-shared-session-dialog" class="dialog">
            <form class="flex vertical p-7" method="get" th:action="@{|/shared-edition/${collection.id}/lab/create|}">
                <h3 class="font-500 underlined">Create shared session</h3>

                <div class="grid col-2 align-center" style="--col-1: minmax(0, 8rem)">
                    <label for="select-lab-types">Session type</label>
                    <select class="textfield" id="select-lab-types" name="type">
                        <option
                            th:each="t : ${T(nl.tudelft.queue.model.enums.QueueSessionType).values()}"
                            th:value="${t.toString()}"
                            th:text="${t.getDisplayName()}"></option>
                    </select>
                </div>

                <div class="flex space-between">
                    <button type="button" class="button p-less" data-style="outlined" data-cancel>Cancel</button>
                    <button class="button p-less" data-style="">Create shared session</button>
                </div>
            </form>
        </dialog>
    </body>
</html>
