<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body>
        <dialog th:fragment="overlay" id="create-shared-edition-dialog" class="dialog">
            <form th:method="post" th:action="@{/shared-edition/create}" class="flex vertical p-7">
                <h3 class="font-500 underlined">Create shared edition</h3>

                <div class="grid col-2 gap-3 align-center" style="--col-1: minmax(0, 8rem)">
                    <label for="shared-edition-name">Name</label>
                    <input type="text" id="shared-edition-name" class="textfield" placeholder="Collection name" th:name="name" required />

                    <label for="select-editions">Select editions</label>
                    <select multiple class="select" id="select-editions" data-select th:name="editions">
                        <option th:each="ed : ${allEditions}" th:value="${ed.id}" th:text="|${ed.course.name} - ${ed.name}|"></option>
                    </select>
                </div>

                <div class="flex space-between">
                    <button type="button" class="button p-less" data-style="outlined" data-cancel>Cancel</button>
                    <button type="submit" class="button p-less">Add shared edition</button>
                </div>
            </form>
        </dialog>
    </body>
</html>
