<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{edition/view}">
    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->

    <!--@thymesVar id="role" type="nl.tudelft.labracore.api.dto.RolePersonLayer1DTO"-->

    <body>
        <section layout:fragment="subcontent">
            <h3 class="font-500 mb-3">Remove participant from course edition</h3>

            <p class="mb-5">
                Are you sure you want to remove
                <strong th:text="${role.getPerson().displayName}">student</strong>
                from the edition?
            </p>

            <form
                th:action="@{/edition/{editionId}/participants/{personId}/remove(editionId=${role.id.editionId},personId=${role.id.personId})}"
                method="post">
                <div>
                    <button type="submit" name="enroll" class="button" data-type="error">Remove from edition</button>
                    <span>
                        or
                        <a class="link" th:href="@{/edition/{id}/participants(id=${role.id.editionId})}">go back</a>
                    </span>
                </div>
            </form>
        </section>
    </body>
</html>
