<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/view}">
    <!--@thymesVar id="room" type="nl.tudelft.ewi.queue.model.Room"-->

    <body>
        <section layout:fragment="subcontent">
            <div class="flex space-between align-center mb-5">
                <h3 class="font-500" th:text="|${course.code}  ${course.name}|"></h3>
                <div>
                    <a class="button" th:href="@{/edition/add}">Add edition</a>
                </div>
            </div>

            <div class="flex vertical">
                <div class="surface p-0">
                    <h4 class="surface__header">Managers</h4>
                    <ul class="surface__content list divided" role="list">
                        <li th:each="manager : ${course.managers}" th:text="${manager.displayName}" class="pbl-3"></li>
                    </ul>
                </div>

                <div class="surface p-0">
                    <h4 class="surface__header">Editions</h4>

                    <p class="surface__content" th:if="${#lists.isEmpty(course.editions)}">
                        <i>No Editions</i>
                    </p>

                    <th:block th:unless="${#lists.isEmpty(course.editions)}">
                        <ul class="list surface__content divided" role="list">
                            <li th:each="edition : ${course.editions}" class="pbl-3">
                                <a class="link" th:href="@{/edition/{id}(id=${edition.id})}" th:text="${edition.name}" />
                            </li>
                        </ul>
                    </th:block>
                </div>
            </div>

            <!-- Invisible column for spacing at the bottom of the page -->
            <div class="row mt-3"></div>
        </section>
    </body>
</html>
