<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/view}">
    <!--@thymesVar id="room" type="nl.tudelft.ewi.queue.model.Room"-->

    <body>
        <section layout:fragment="subcontent">
            <div class="mb-5">
                <a class="button" th:href="@{/admin/course/add}">Create course</a>
            </div>

            <ul role="list" class="list divided surface">
                <li class="pbl-3" th:each="course : ${courses}">
                    <a class="link" th:text="|${course.code}  ${course.name}|" th:href="@{/admin/course/{id}(id=${course.id})} " />
                </li>
            </ul>

            <!-- Invisible column for spacing at the bottom of the page -->
            <div class="row mt-3"></div>
        </section>
    </body>
</html>
