<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/view}">
    <head>
        <script src="/webjars/momentjs/min/moment.min.js"></script>
    </head>

    <!--@thymesVar id="dto" type="nl.tudelft.queue.dto.create.misc.AnnouncementCreateDTO"-->

    <body>
        <section layout:fragment="subcontent">
            <h3 class="font-500 mb-3">Create new Announcement</h3>

            <div
                id="example-alert"
                class="banner mb-5"
                role="alert"
                th:styleappend="|color: ${dto.textColourHex}; --color: ${dto.backgroundColourHex};|">
                <p id="example-text" th:text="${dto.message ?: 'Preview'}"></p>
                <button
                    id="example-dismiss"
                    type="button"
                    aria-label="Close"
                    style="border: none; background: none; margin-left: auto"
                    th:classappend="${dto.isDismissible ? '' : 'hidden'}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form th:object="${dto}" th:action="@{/admin/announcement/create}" method="post">
                <div class="grid col-2 align-center gap-3 mb-5" style="--col-1: minmax(0, 10rem)">
                    <label for="message-input">Message:</label>
                    <div>
                        <input type="text" id="message-input" class="textfield" required th:field="*{message}" placeholder="Maintenance weekend" />
                    </div>

                    <label for="start-time-input">From</label>
                    <div>
                        <input
                            type="datetime-local"
                            class="textfield"
                            required
                            id="start-time-input"
                            name="startTime"
                            th:value="${#temporals.format(dto.startTime, 'dd/MM/YYYY HH:mm')}" />
                    </div>

                    <label for="end-time-input">To</label>
                    <div>
                        <input type="datetime-local" class="textfield" id="end-time-input" th:field="*{endTime}" />
                    </div>

                    <label for="background-colour-picker">Background colour:</label>
                    <div>
                        <input id="background-colour-picker" type="color" required th:field="*{backgroundColourHex}" />
                    </div>

                    <label for="text-colour-picker">Text colour:</label>
                    <div>
                        <input id="text-colour-picker" type="color" required th:field="*{textColourHex}" />
                    </div>

                    <label for="dismissible-toggle">Is dismissible:</label>
                    <div>
                        <input id="dismissible-toggle" type="checkbox" th:field="*{isDismissible}" />
                    </div>
                </div>

                <div>
                    <button type="submit" class="button">Save Announcement</button>
                </div>

                <script type="application/javascript">
                    $(function () {
                        const startTimeInput = document.getElementById("start-time-input");
                        const endTimeInput = document.getElementById("end-time-input");

                        startTimeInput.addEventListener("change", function () {
                            endTimeInput.min = this.value;
                        });

                        // Setup for the example banner to change with inputs
                        $("#message-input").on("input", function () {
                            $("#example-text").text($(this).val());
                        });

                        $("#background-colour-picker").on("input", function () {
                            $("#example-alert").css("--color", $(this).val());
                        });
                        $("#text-colour-picker").on("input", function () {
                            $("#example-alert").css("color", $(this).val());
                        });

                        $("#dismissible-toggle").on("input", function () {
                            if ($(this).is(":checked")) {
                                $("#example-dismiss").removeClass("hidden");
                            } else {
                                $("#example-dismiss").addClass("hidden");
                            }
                        });
                    });
                </script>
            </form>
        </section>
    </body>
</html>
