<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{container}">
    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->

    <body>
        <main layout:fragment="content">
            <div class="breadcrumbs mb-5">
                <a th:href="@{/}">Home</a>
                <span>&gt;</span>
                <a th:href="@{/editions}">Catalog</a>
                <span>&gt;</span>
                <a th:href="@{/edition/{id}(id=${edition.id})}" th:text="|${edition.course.name} - ${edition.name}|"></a>
                <span>&gt;</span>
                <a th:href="@{/edition/{id}/entrol(id=${edition.id})}">Enrol</a>
            </div>

            <h1 class="font-800 mb-5">Enrol</h1>

            <p class="mb-5">
                Do you wish to enrol for the course edition
                <strong th:text="|${edition.course.name} - ${edition.name}|"></strong>
                ?
            </p>

            <form th:action="@{/edition/{id}/enrol(id=${edition.id})}" method="post">
                <button type="submit" name="enrol" class="button">Enrol</button>
                <span>
                    or
                    <a class="link" th:href="@{/editions}">go back</a>
                </span>
            </form>
        </main>
    </body>
</html>
