<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{container}">
    <body>
        <th:block th:fragment="tabs">
            <div class="tabs mb-5" role="tablist">
                <a id="sessions-tab" role="tab" th:href="@{/shared-edition/{id}?page=sessions(id=${ec.id})}" aria-selected="false">
                    <span class="fa-solid fa-calendar"></span>
                    Sessions
                </a>
                <a id="editions-tab" role="tab" th:href="@{/shared-edition/{id}?page=editions(id=${ec.id})}" aria-selected="false">
                    <span class="fa-solid fa-graduation-cap"></span>
                    Editions
                </a>
                <a id="staff-tab" role="tab" th:href="@{/shared-edition/{id}?page=staff(id=${ec.id})}" aria-selected="false">
                    <span class="fa-solid fa-user"></span>
                    Staff
                </a>
            </div>
        </th:block>
    </body>
</html>
