<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <footer class="footer flex space-between align-center" layout:fragment="footer">
        <img data-if-theme="light" th:src="@{/img/tudelft_logo_dark.png}" height="24" alt="TU Delft" />
        <img data-if-theme="dark" class="logo" th:src="@{/img/tudelft_logo_light.png}" height="24" alt="TU Delft" />

        <div class="flex gap-7">
            <a class="link" th:href="@{/privacy}">Privacy statement</a>
            <a class="link" th:href="@{/about}">About</a>
            <a class="link" th:href="@{/support}">Support</a>
        </div>
    </footer>
</html>
