<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div th:fragment="dialog (text)">
        <dialog id="success-overlay" class="dialog" data-closable>
            <div class="p-7 flex vertical">
                <p th:text="${text}">Success</p>

                <div class="flex space-between">
                    <button class="button p-less" data-style="outlined" data-cancel>Close</button>
                </div>
            </div>
        </dialog>
        <script type="text/javascript">
            document.getElementById("success-overlay").showModal();
        </script>
    </div>
</html>
