<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{edition/view}">
    <head>
        <title th:text="|Create Assignment for ${'#' + edition.id}|"></title>

        <script src="/webjars/momentjs/min/moment.min.js"></script>
    </head>

    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->

    <!--@thymesVar id="_module" type="nl.tudelft.labracore.api.dto.ModuleSummaryDTO"-->

    <!--@thymesVar id="dto" type="nl.tudelft.queue.dto.create.QueueAssignmentCreateDTO"-->

    <body>
        <section layout:fragment="subcontent">
            <h3 class="font-500 mb-3">Create Assignment</h3>

            <form
                th:with="action = @{/module/{mId}/assignment/create(id=${edition.id}, mId=${_module.id})}"
                th:action="${action}"
                th:object="${dto}"
                class="flex vertical"
                method="post">
                <input type="hidden" name="moduleId" th:value="${_module.id}" />

                <div class="grid col-2 gap-3 align-center" style="--col-1: minmax(0, 8rem)">
                    <label for="name-input">Name:</label>
                    <input id="name-input" type="text" class="textfield" required th:field="*{name}" placeholder="The name of the assignment" />

                    <label for="description-input">Description:</label>
                    <input
                        id="description-input"
                        type="text"
                        class="textfield"
                        th:field="*{description}"
                        placeholder="(Optionally) a description of the assignment" />

                    <label for="deadline-input">Deadline:</label>
                    <input id="deadline-input" type="datetime-local" th:field="*{deadline}" class="textfield" />
                </div>

                <div>
                    <button type="submit" class="button">Create new Assignment</button>
                </div>
            </form>
        </section>
    </body>
</html>
