$background-request-opacity: 0.75;
$background-revoked: hsla(0, 0%, 30%, $background-request-opacity);
$background-processing: hsla(240, 50%, 40%, $background-request-opacity);
$background-pending: hsla(240, 70%, 40%, $background-request-opacity);
$background-approved: hsla(140, 75%, 30%, $background-request-opacity);
$background-forwarded: hsla(260, 70%, 40%, $background-request-opacity);
$background-rejected: hsla(0, 90%, 40%, $background-request-opacity);
$background-notfound: hsla(40, 70%, 45%, $background-request-opacity);
$background-notpicked: #999e9e;
