// Primary colours
$background-primary: #fff;
$background-secondary: #f9f9f9;

$border-primary: #e5e5e5;
$border-inverse: #121212;

$text-color-primary: #0c0c0c;
$text-color-secondary: #3c3c3c;
$text-color-ternary: #545454;
$text-color-inverse: #efefef;

$bs-primary: #0275d8;
$bs-secondary: #6c757d;
$bs-success: #5cb85c;
$bs-info: #17a2b8;
$bs-warning: #f0ad4e;
$bs-danger: #d9534f;

// Button colours
$button-background: #e2e6ea;
$button-color: #212529;

// Navigation bar
$navbar-text: #ffffff;
$navbar-selected: #0092bd;
$navbar-background: #00a6d6;

// Navigation tabs
$navbar-tabs-color: #495057;
$navbar-tabs-border: #dee2e6;
$navbar-tabs-background: #ffffff;

// Background colours requests
$background-request-opacity: 0.75;
$background-revoked: hsla(0, 0%, 30%, $background-request-opacity);
$background-processing: hsla(240, 50%, 40%, $background-request-opacity);
$background-pending: hsla(240, 70%, 40%, $background-request-opacity);
$background-approved: hsla(140, 75%, 30%, $background-request-opacity);
$background-forwarded: hsla(260, 70%, 40%, $background-request-opacity);
$background-rejected: hsla(0, 90%, 40%, $background-request-opacity);
$background-notfound: hsla(40, 70%, 45%, $background-request-opacity);
$background-notpicked: #999e9e;

// Queue page background colours
$background-queue: #0275d8;
$background-queue-secondary: #0283f1;
$text-color-queue: #efefef;
$background-location: #449d44;
$background-location-secondary: #4cae4c;
$text-color-location: #efefef;
$background-lab: #f9f9f9;
$background-lab-secondary: #fff;
$text-color-lab: #0c0c0c;
$background-more: #f9f9f9;
$background-more-secondary: #fff;
$text-color-more: #0c0c0c;

// Pagination
$pagination-bg-active: #0092bd;
$pagination-bg-disabled: #efefef;

// Constants
$primary: #00a6d6;
$primary-hover: #018fba;
$primary-checked: #187997;
$primary-disabled: #99acb1;

$timeslot-checked: #319503;

$approved-text: #fff;
$approved-primary: #449d44;
$approved-secondary: #4cae4c;

$not-selected-text: #fff;
$not-selected-primary: #af7b2d;
$not-selected-secondary: #f0ad4e;

:root {
    --primary-blue: #00a6d6;
    --primary-light: #ffffff;
    --primary-dark: #000000;
    --primary-grey: #cacaca;
    --primary-red: #c3312f;

    --secondary-blue: #003a73;
    --secondary-green: #21ba46;
    --secondary-red: #731c1c;
    --secondary-orange: #eb7245;
    --secondary-cyan: #00a390;
    --secondary-yellow: #ffdb4f;
    --secondary-orange-light: #ff9f4f;

    --input-grey: #9a9a9a;

    --background-colour: #f7f7f7;

    --font: arial, sans-serif;
    --title-font: Roboto, sans-serif;

    --title-size: 42px;
    --subtitle-size: 24px;
    --list-content-size: 16px;
    --table-size: 14px;
    --regular-size: 12px;

    --body-width: calc(min(1200px, 90vw));
    --header-height: 70px;
    --footer-height: 50px;

    background-color: var(--background-colour);
    font-family: sans-serif;
}
