@import "colours";

.history [data-event="request-created"] {
    --colour: #{$background-pending};
}
.history [data-event="request-revoked"] {
    --colour: #{$background-revoked};
}
.history [data-event="request-approved"] {
    --colour: #{$background-approved};
}
.history [data-event="request-selected"] {
    --colour: #{$background-approved};
}
.history [data-event="request-taken"] {
    --colour: #{$background-processing};
}
.history [data-event="request-forwarded"] {
    --colour: #{$background-forwarded};
}
.history [data-event="request-rejected"] {
    --colour: #{$background-rejected};
}
.history [data-event="request-not-selected"] {
    --colour: #{$background-rejected};
}
.history [data-event="request-not-found"] {
    --colour: #{$background-notfound};
}
