.presentation {
    --primary-colour: #00a6d6;
}

.slide {
    &:not([data-current]) {
        display: none;
    }

    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100cqh;
    position: relative;
    padding-left: calc(24cqw);
    padding-top: 3cqh;

    &__sidebar {
        align-items: end;
        background-color: var(--primary-colour);
        display: flex;
        left: 0;
        inset-block: 0;
        padding: 2cqw;
        position: absolute;
        width: 20cqw;

        img {
            width: 50%;
        }
    }

    &__title {
        color: var(--primary-colour);
        font-size: 6.25cqw;
        text-align: center;
        margin-bottom: 2.08cqw;
    }

    &__content {
        display: grid;
        justify-items: center;
        flex-grow: 1;
        font-size: 2cqw;

        p + * {
            margin-top: 1.65cqw;
        }

        ul,
        ol {
            margin-left: 2.9cqw;
            margin-bottom: 0.85cqw;
        }

        em {
            font-style: italic;
        }
        strong {
            font-weight: 500;
        }

        h1 {
            font-size: 5.4cqw;
        }
        h2 {
            font-size: 4.15cqw;
        }
        h3 {
            font-size: 2.9cqw;
        }
        h4 {
            font-size: 2.5cqw;
        }
        h5 {
            font-size: 2.3cqw;
        }
    }

    &__footer {
        display: flex;
        font-size: 1.85cqw;
        font-weight: 500;
        justify-content: space-between;
        min-height: 4cqw;
        padding-right: 4cqw;
    }
}
