@import "colours";

.request {
    --colour: white;

    color: var(--colour);
    cursor: pointer;

    &[data-status="processing"] {
        background-color: $background-processing;
    }

    &[data-status="rejected"] {
        background-color: $background-rejected;
    }

    &[data-status="not-selected"],
    &[data-status="notselected"] {
        background-color: $background-rejected;
    }

    &[data-status="pending"] {
        background-color: $background-pending;
    }

    &[data-status="revoked"] {
        background-color: $background-revoked;
    }

    &[data-status="approved"] {
        background-color: $background-approved;
    }

    &[data-status="selected"] {
        background-color: $background-approved;
    }

    &[data-status="notfound"] {
        background-color: $background-notfound;
    }

    &[data-status="notpicked"] {
        background-color: $background-notpicked;
    }

    &[data-status="forwarded"] {
        background-color: $background-forwarded;
    }

    &:hover,
    &:focus-visible {
        opacity: 0.85;
    }

    a {
        color: var(--colour);
        text-decoration: none;
    }
    .chip {
        border-color: var(--colour);
        color: var(--colour);
    }
}
