<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{edition/view}">
    <head>
        <title th:text="|Create Module for ${'#' + edition.id}|"></title>
    </head>

    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->

    <!--@thymesVar id="dto" type="nl.tudelft.queue.dto.create.QueueModuleCreateDTO"-->

    <body>
        <section layout:fragment="subcontent">
            <h3 class="font-500 mb-3">Create Module</h3>

            <form
                th:with="action = @{/edition/{id}/modules/create(id=${edition.id})}"
                th:action="${action}"
                th:object="${dto}"
                class="flex vertical"
                method="post">
                <div class="grid col-2 align-center gap-3" style="--col-1: minmax(0, 8rem)">
                    <input type="hidden" name="id" th:value="${edition.id}" />

                    <label for="title-input">Name</label>
                    <input
                        id="title-input"
                        type="text"
                        class="textfield"
                        required="required"
                        th:field="*{name}"
                        placeholder="Name of the module. For instance: Assignments" />
                </div>

                <div>
                    <button type="submit" class="button">Create new module</button>
                </div>
            </form>
        </section>
    </body>
</html>
