<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{edition/view}">
    <!--@thymesVar id="edition" type="nl.tudelft.labracore.api.dto.EditionDetailsDTO"-->

    <!--@thymesVar id="_module" type="nl.tudelft.labracore.api.dto.ModuleDetailsDTO"-->

    <body>
        <section layout:fragment="subcontent">
            <form th:action="@{/module/{id}/remove(id=${_module.id})}" class="flex vertical" method="post">
                <h3 class="font-500 mb-3">Remove Module</h3>
                <p>
                    Are you sure you want to remove
                    <strong class="fw-500" th:text="${'module #' + _module.id + ' (' + _module.name + ')'}"></strong>
                    ?
                </p>
                <div>
                    <button class="button" data-type="error">Delete this Module</button>
                    <span>
                        or
                        <a class="link" th:href="@{/edition/{eId}/modules(eId=${edition.id})}">go back</a>
                    </span>
                </div>
            </form>
        </section>
    </body>
</html>
