<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{container}">
    <body>
        <main layout:fragment="content">
            <th:block th:unless="${@thymeleafConfig.isTheDay()}">
                <h1 class="font-800 mb-5">Welcome to the Queue</h1>
            </th:block>

            <th:block th:if="${@thymeleafConfig.isTheDay()}">
                <h1 class="font-800 mb-3">Welcome to the Stack</h1>
                <p class="mb-5">First one is still first out, have a nice day.</p>
            </th:block>

            <h2 class="font-600 mb-1">How to use this system?</h2>

            <p class="mb-7">
                After you login, you can
                <em>enrol</em>
                for a particular course. Once enrolled you can navigate to a specific lab. If the lab is opened, you can
                <em>enqueue</em>
                for a specific assignment. The assistants process this queue. You will receive a notification when an assistant is assigned to your
                request. The notification instructs you to either visit the TA or wait for the TA to visit you.
            </p>

            <a th:href="@{/login}" class="button">Click here to log in</a>
        </main>
    </body>
</html>
