<!--

    Queue - A Queueing system that can be used to handle labs in higher education
    Copyright (C) 2016-2024  Delft University of Technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{container}">
    <body>
        <main layout:fragment="content" class="article">
            <div>
                <h1>Privacy statement</h1>
            </div>
            <p>
                <strong class="fw-500">
                    This privacy statement is a first version. Some aspects in this privacy statement might be changed in the future to be in line
                    with the law and best practices
                </strong>
            </p>

            <p>
                The Queue project is a project from the TU Delft. In this privacy statement, it will be explained what personal data the Queue
                collects when using the website. In this document the term Labrador will also be mentioned. Labrador is a future project of the TU
                Delft, which will include the Queue.
            </p>
            <h2 id="topics">Topics</h2>
            <ul>
                <li>What data do we collect?</li>
                <li>How do we collect your data?</li>
                <li>How will we use your data?</li>
                <li>How will we store your data?</li>
                <li>Other matters</li>
            </ul>
            <h2 id="what-data-do-we-collect">What data do we collect</h2>
            <p>
                To support your education at the
                <th:block th:text="${@instituteProperties.name}"></th:block>
                , the university has a legal ground to store your data. To be more specific, it is a contractual necessity: the data processing is
                necessary for the performance of the contract between the student and
                <th:block th:text="${@instituteProperties.name}"></th:block>
                . Because of this, the Queue collects the following data:
            </p>
            <ul>
                <li>Name</li>
                <li>Email</li>
                <li>Student number</li>
                <li>NetID</li>
                <li>affiliation (if the user is a student or teacher)</li>
                <li>which department/faculty the user is part of</li>
                <li>all notifications the user has received</li>
            </ul>
            <p>For the purpose of providing notifications, we collect some metadata about the device used.</p>
            <p>Furthermore, there exist multiple subgroups in the system. We will describe for each subgroup the extra data we store.</p>
            <h3 id="student">Student</h3>
            <p>We collect the following information about students:</p>
            <ul>
                <li>The mentor group they are enrolled in</li>
                <li>Courses they are enrolled in</li>
                <li>The groups the student is/was part of</li>
            </ul>
            <p>We also collect every request the student makes (asked a question or asked to be signed off). This contains the following items:</p>
            <ul>
                <li>The course the student is following</li>
                <li>The lab the student is participating in</li>
                <li>The assignment the student wants to hand in or has a question about</li>
                <li>The room they are sitting in</li>
                <li>The comment the student made on the request</li>
                <li>The time the request was made</li>
                <li>The timeslot the user has chosen if applicable</li>
                <li>The question the student asked</li>
                <li>The feedback on the the TA the student has written down</li>
            </ul>
            <h3 id="ta">TA</h3>
            <p>For a TA (teaching assistant), we collect the following data:</p>
            <ul>
                <li>The requests handled by the TA</li>
                <li>The time the request was assigned</li>
                <li>The time the request was handled by the TA</li>
            </ul>
            <p>This data then enables us to see at which labs the TA attended.</p>
            <p>Furthermore, feedback about the TA is stored.</p>
            <h3 id="teacher">Teacher</h3>
            <p>For a teacher, we collect the following data:</p>
            <ul>
                <li>all courses the teacher teaches</li>
            </ul>
            <h2 id="how-do-we-collect-your-data">How do we collect your data</h2>
            <p>All data we collect is collected when using the Queue website.</p>

            <h2 id="how-will-we-use-your-data">How will we use your data</h2>
            <p>
                At this moment, we only use the data given to support the functionality the Queue promises, giving students an easy way to ask
                questions and sign off work and giving teaching staff an easy to use system to support signing off and answering questions.
            </p>
            <p>
                Data is being used on a need to know basis. This means that student-assistants only see, what they need to see to fulfil their duties
                as teaching assistant and the same for teachers. Only administrators have access to the database.
            </p>
            <p>
                For example, student assistants cannot view each others feedback. Also teaching assistants can only see the name of the student, not
                the NetID, email or student number of the student.
            </p>
            <p>
                A teacher might export data to use for purposes to calculate final grades or import it into other tools, namely BrightSpace and
                Osiris. Furthermore, admins are able to run a script to gather aggregate data about lab sessions and specific people, who spent a lot
                of time with a teaching assistant. If these numbers are a cause for concern, they will be relayed to the study advisor.
            </p>
            <p>
                Teachers will look at the feedback of TA's to evaluate their performance and if action needs to be taken. The teacher is able to
                determine the student that posted the feedback and is allowed to contact the student to inquire more information.
            </p>
            <p>
                Data from the Queue is is also used for research purposes. This research is done to explore the possibilities of increasing efficiency
                and quality of the support given to students and teachers. Questions students asked will be stored and used to figure out if there is
                a way to be able to answer easy questions right from the Queue, without a need for a TA.
            </p>
            <p>For this research the following data will be stored:</p>
            <ul>
                <li>
                    The user id of the user that asked the question. This will help us to determine if a user asked a question multiple times and if
                    there is a statistically relevant correlation between multiple types of questions. We are storing the user id as we do not need
                    the name of the student
                </li>
                <li>
                    The content of the question. This content will be manually sorted through to remove all data that contains revealing information
                    about the user or a student assistant. For instance: "I'm the one with the red hair" or "Yell Jack when looking for me as John,
                    the previous TA couldn't find me"
                </li>
            </ul>
            <p>
                This data will only be accessible to people doing the experiment and will be responsibly handled in such a way that no unauthorised
                person or persons can get access to this data.
            </p>
            <h2 id="how-do-we-store-your-data">How do we store your data</h2>
            <p>
                To comply with GDPR regulations, all data is stored on site at the
                <th:block th:text="${@instituteProperties.name}"></th:block>
                . The data stored on our servers will be deleted after 5 years.
            </p>
            <p>
                Access to data is strictly regulated with only select admins having access to the database. All other entities need to use the website
                itself, where, as mentioned previously, information is provided on a need to know basis.
            </p>
            <h1 id="other-matters">Other matters</h1>
            <p>For matters like:</p>
            <ul>
                <li>What are your data protection rights</li>
                <li>Which cookies we set and why</li>
            </ul>
            <p>
                Please refer to the
                <a class="link" href="https://www.tudelft.nl/privacy-statement/" title="https://www.tudelft.nl/privacy-statement/">
                    Privacy Statement of the TU Delft
                </a>
            </p>
            <p>
                If you have any questions about the privacy policy or want to make use of your rights, please contact
                <a class="link" href="mailto:privacy-tud@tudelft.nl" title="mailto:privacy-tud@tudelft.nl">the following email address</a>
            </p>
        </main>
    </body>
</html>
